<h1>{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date: 'y'}}) </small> </h1>
<hr>

<div class="row animated fadeIn">
    <div class="col-md-4">
        <img src="{{heroe.img}} " class="img-fluid" alt="heroe.nombre">
        <br><br>
        <a class="btn btn-outline-primary btn-block" [routerLink]="['/heroes']">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div>
            <img src="assets/img/DC.png" alt="DC" class="img-logo" *ngIf="heroe.casa=='DC'">
            <img src="assets/img/marvel.png" alt="Marvel" class="img-logo" *ngIf="heroe.casa=='Marvel'">
        </div>
    </div>
</div>